.product {
  &__items {
    cursor: pointer;
    img {
      width: 100%;
      object-fit: cover;
      height: 200px;
    }
    h3 {
      font-size: 22px;
    }
    svg {
      color: #f1bc36;
    }
    p {
      font-weight: 600;
      margin-bottom: 0;
    }
  }
}

.product__detail {
  &-border-bottom {
    margin-right: 5px;
    border-bottom: 2px solid $secondary;
    &:hover {
      border-bottom: 2px solid $primary;
    }
  }
  &-page-title {
    background-color: #f5f5f5;
  }
  &-rating {
    li {
      svg {
        color: #f1bc36;
      }
    }
  }
  &-social {
    p {
      font-weight: 600;
    }
    li {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      color: $white;
      background-color: $primary;
      transition: 0.5s;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        color: $primary;
        border: 1px solid $primary;
        background-color: $white;
      }
    }
  }

  &-pricing {
    display: block;
    font-weight: 600;
    font-size: 25px;
    del {
      color: #828893;
    }
  }
}
