$primary: #113366;
$primary-secondary: #15407f;
$secondary: #ed1d24;
$background: #f9f9f9;
$white: #fff;
$primary-dark: #292929;
$primaryFont: 'Lato', sans-serif;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
  color: $primary-dark;
  font-weight: 600;
}
